.col-md-3
  .about-fixed
    .my-pic
      %a{href: root_url}
        %img{:alt => "", :src => asset_path("pic/my-pic.png")}/
      %a.collapsed{"data-target" => "#menu", "data-toggle" => "collapse", :href => "javascript:void(0)"}
        %i.icon-menu.menu
      #menu.collapse{style: 'background-color: #505050;'}
        %ul.menu-link
          %li
            %a{:href => root_path} Home
          -if current_user.present?
            %li
              %a{:href => user_posts_path} My Posts
            %li
              = link_to 'Logout', destroy_user_session_path, method: :delete
          -else
            %li
              = link_to 'Login', new_user_session_path
    .my-detail
      .white-spacing
        %h1 Mr.Draper
        %span Your Personal Stylist
      %ul.social-icon
        %li
          %a.facebook{:href => "#", :target => "_blank"}
            %i.fa.fa-facebook
        %li
          %a.twitter{:href => "#", :target => "_blank"}
            %i.fa.fa-twitter