%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo01", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo01", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarTogglerDemo01.collapse.navbar-collapse
    %a.navbar-brand{:href => root_path} Mr.Draper
    %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      %li.nav-item
        %a.nav-link{class: "#{current_page?(root_path) && 'active'}", href: root_path}
          Home
          %span.sr-only (current)
      - if current_user.present?
        %li.nav-item
          %a.nav-link{class: "#{current_page?(posts_path) && 'active'}", :href => posts_path} My Posts
    .navbar-nav
      - if current_user.present?
        = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
      - else
        = link_to 'Login', new_user_session_path, class: 'nav-link'
