.p-2.bd-highlight{style: 'width: 100%'}
  .card.mb-3.bg-light
    .card-body
      %h5.card-title
        = link_to post.title, post_path(post)
      %p.card-text
        = post.description
      %p.d-flex.flex-column
        %small.text-muted
          by:
          = post.user.username