.hidden {
  display: none !important;
}

.submit_btn {
  position: absolute;
  font-size: 16px;
  letter-spacing: 0.7px;
  color: #FFF;
  background: #1abc9c;
  border: none;
  top: 35px;
  right: 20px;
  height: 50px;
  bottom: 5px;
  border-radius: 50px;
  width: 150px;
  text-align: center;
  outline: none;
}

.iti__flag {background-image: asset_url("flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: asset_url("flags@2x.png")}
}